
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.padre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  gap: 40px; 
  background: linear-gradient(180deg, #1a1a40, #fff);
  font-family: 'Khmer UI', sans-serif;
}



.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 47px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
}

.button-group button {
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #000;
}

.button-group button[type="submit"] {
  background-color: #4F46E5;
  color: white;
}

.button-group button[type="button"] {
  background-color: #22C55E;
  color: white;
}

/* esto son estilos para la img arriba de los inputs*/
.user-image {
  display: block;
  width: 120px;        
  height: 120px;
  margin: 0 auto 20px;
  border-radius: 50%; 
  
}
